*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:aliceblue;
}
.Container{
    margin-top: 10px;
    border: 1px solid gray;
    background-color: white;
    width: 330px;
    border-radius: 15px;
    padding: 1rem;
}
.Input-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 100%;
    overflow: hidden;
    border: 2px solid aqua;
    border-radius: 10px;    
}
.CityInput{
    flex: 1;
    padding: 10px 15px;
    border: none;
}   
.CityInput:focus{
    outline: none;
}
.search-icon{
    position: absolute;
    right: 0.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon{
    width: 25px;
    height: 25px;
}
.Image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Image img{
    width: 220px;
    height: 220px;
    filter: drop-shadow(0px 0px 0px black);
}
.temp{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.city{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: orange;
}
.Country{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.cord{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cord div{
    gap: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}
.data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    text-align: center;
    margin-top: 20px;
}
.Icon{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 0px 0px black);
}
.percentage{
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}
.text{
    margin-bottom: 5px;
}
.design{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
}
.city-not-found,
.loading-message,
.error-message{
    margin-top: 10px;
    color: #888;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}